body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a {
    text-decoration: none;
}

.container{
    width:1170px;
    padding:0px 15px;
    margin:0px auto;
}

.top-wrapper{
    padding:180px 0 100px 0;
    background-image:url(../img/1.png);
    /* 表示範囲が埋まるまで繰り返される */
    color:white;
    background-size:cover;
    /* 1枚の画像で表示範囲を埋め尽くす */
    text-align:center;
}
.top-wrapper h1{
    /* 透明度は0.0(完全に透明) ~ 1.0(完全に不透明)の数値で指定 */
    opacity:0.7;
    font-size: 45px;
    /* 文字の間隔を指定 */
    letter-spacing: 4px;
}
.btn{
    padding:8px 24px;
    color:white;
    display:inline-block;
    opacity:0.8;
    border-radius:4px;
}
.btn:hover{
    opacity:1;
}
.signup{
    background-color:rgb(69,202,214);
}
.facebook{
    background-color:#3b5998;

}
.twitter{
    background-color:#55acee;
}
.btn-wrapper{
    margin:20px 0px;
}
.btn-wrapper p{
    margin:10px 0;
}
header{
    height:65px;
    background-color:rgba(34, 49, 52, 0.9);
    position:fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.logo{
    width:124px;
    margin-top:7px;
}
.header-left{
    float:left;
}
.header-right{
    float:right;
    background-color:rgba(69,202,214,0.3);
    transition: all 0.5s;
}
.header-right:hover{
    background-color:rgba(69,202,214,0.7);
}
.header-right a{
    display:block;
    height:65px;
    line-height:65px;
    padding:0 20px;
    color:white;
}

.lesson-wrapper{
    height:500px;
    padding-bottom:80px;
    background-color:#f7f7f7;
    text-align:center;
}
.heading{
    padding-top:60px;
    padding-bottom:30px;
    color:#5f5d60;
}
.heading h2{
    font-weight:normal;
}
.lessons{
    float:left;
    width:25%;
}
.lesson img{
    width: 150px;
}
.lesson{
    position: relative;
}
.lesson p{
    position: absolute;
    top:90px;
    width:100%;
    color:rgb(87,198,230);
}
.txt-contents{
    width:80%;
    display:inline-block;
    margin-top:20px;
    font-size:12px;
    color:#b3aeb5;
}
.message-wrapper{
    text-align: center;
    padding-bottom:80px;
}

.message{
    padding:15px 40px;
    background-color: rgba(69,202,214,0.7);
    cursor: pointer;
    box-shadow: 3px 7px rgba(0,0,0,0.4);
}
.heading h3{
    font-weight:normal;
    color:#5f5d60;
}
.message:active{
    box-shadow: none;
    position: relative;
    top:7px;
}
footer img{
    width:125px;
}
footer p{
    color:#b3aeb5;
    font-size:12px;
}
footer{
    padding-top:30px;
}